%section#introduction
  %h2 e-share

%ul.nav.nav-tabs
  %li
    %a{"data-toggle" => "tab", :href => "#history"} 視聴履歴
  %li
    %a{"data-toggle" => "tab", :href => "#favorite"} お気に入り


.tab-content
  #history.tab-pane.active 
    - @user.watched_xvideos.each do |xvideo|
      = render partial:'/common/video',locals:{xvideo:xvideo}

  #favorite.tab-pane
    - @user.favorited_xvideos.each do |xvideo|
      = render partial:'/common/video',locals:{xvideo:xvideo}

