%section#introduction
  %h2 e-share
  .indent
    Sharing for adults videos
  .indent
    #{link_to "Chromeエクステンション", "URL"} で快適なエロライフを!!!
%section#line
  %h3 現在誰かが視聴中
  - @recently_watched.each do |xvideo|
    .indent.well
      %img{"src"=>"#{xvideo.thumb_url}","alt"=>"Description of image","style"=>"width:150px;height:150px; float:left;"}

      #{link_to xvideo.title, xvideo.url, "style" => "margin-left:20px;font-size:23px"}
      #{link_to 'vfav',{controller: :favorite_videos,action: :create,id:xvideo.id},{method: :post}}

        
