%section#introduction
  %h2 e-share
  %h4 Your History page

%section#line
  %ul.nav.nav-tabs
    %li{:href => "#history" :data-toggle => "tab"}
      視聴履歴
    %li{:href => "#favorite" :data-toggle => "tab"}
      お気に入り


  -# - @users.each do |user|
  .indent.well
    %img{"src"=>"/path/to/image","alt"=>"Description of image","style"=>"width:150px;height:150px; float:left;"}

    #{link_to "avのタイトル", "URL", "style" => "margin-left:20px;font-size:23px"}
-# - end 

